
    .navbar {
        margin-bottom: 0;
        background-color: rgb(54, 95, 148);
        
        }
  
    body {
        position: auto;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        color: aliceblue;
        background: url('https://photos.smugmug.com/Architecture/Amsterdam-Canals/i-sCkgSNr/0/f7f51e36/L/Julia%20Anna%20Gospodarou%20-%20A%20Tale%20of%20the%20Past%20I_Keizersgracht%20Canal%20Amserdam_2048_80_NoExif-L.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-size: 1.5em;
 
    }           
      
    footer {
        background-color: rgb(54, 95, 148);
        padding: auto;
        position: fixed;
        left: 0;
        bottom: 0;
        color: aliceblue;
        width: 100%;
        font-size: 1.3em;
        }

    .img {
        width: 25px;
        height: 25px;
        }
      
    .img2 {
        Width: 75px;
        height: 190px;
        }

    .container {
        padding-bottom: 40px;
        padding-top: 30px;
    }

    



    @media screen and (max-width: 980px) {
        .navbar {
            margin-bottom: 0;
            background-color: rgb(54, 95, 148);
            }
      
        body {
            position: auto;
            font-family: Arial, Helvetica, sans-serif;
            margin: auto;
            font-size: 1.5em;
            background: url('https://photos.smugmug.com/Architecture/Amsterdam-Canals/i-sCkgSNr/0/f7f51e36/L/Julia%20Anna%20Gospodarou%20-%20A%20Tale%20of%20the%20Past%20I_Keizersgracht%20Canal%20Amserdam_2048_80_NoExif-L.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            }           
          
        footer {
            background-color: rgb(54, 95, 148);
            padding: auto;
            position: fixed;
            left: 0;
            bottom: 0;
            color: aliceblue;
            width: 100%;
            font-size: 1.3em;
            }
    
        .img {
            width: 25px;
            height: 25px;
            }
          
        .img2 {
            Width: 80px;
            height: 195px;
            }
    
        .container {
            padding-bottom: 40px;
            padding-top: 30px;
        }
    
      



        @media screen and (max-width: 768px) {
            .navbar {
                margin-bottom: 0;
                background-color: rgb(54, 95, 148);
                }
          
            body {
                position: auto;
                font-family: Arial, Helvetica, sans-serif;
                margin: auto;
                font-size: 1.3em;
                background: url('https://photos.smugmug.com/Architecture/Amsterdam-Canals/i-sCkgSNr/0/f7f51e36/L/Julia%20Anna%20Gospodarou%20-%20A%20Tale%20of%20the%20Past%20I_Keizersgracht%20Canal%20Amserdam_2048_80_NoExif-L.jpg');
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                }           
              
            footer {
                background-color: rgb(54, 95, 148);
                padding: auto;
                position: fixed;
                left: 0;
                bottom: 0;
                color:  aliceblue;
                width: 100%;
                font-size: 1.2em;
                }
        
            .img {
                width: 25px;
                height: 25px;
                }
              
            .img2 {
                Width: 75px;
                height: 190px;
                }
        
            .container {
                padding-bottom: 40px;
                padding-top: 30px;
            }


            @media screen and (max-width: 600px) {
              
                .navbar {
                    margin-bottom: 0;
                    background-color: rgb(54, 95, 148);
                    }
              
                body {
                    position: auto;
                    font-family: Arial, Helvetica, sans-serif;
                    margin: auto;   
                    font-size: 1.2em;
                    background: url('https://photos.smugmug.com/Architecture/Amsterdam-Canals/i-sCkgSNr/0/f7f51e36/L/Julia%20Anna%20Gospodarou%20-%20A%20Tale%20of%20the%20Past%20I_Keizersgracht%20Canal%20Amserdam_2048_80_NoExif-L.jpg');
                    background-size: cover;
                    background-position: center;
                    background-attachment: fixed;
                    }           
                  
                footer {
                    background-color: rgb(54, 95, 148);
                    padding: auto;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    color: aliceblue;
                    width: 100%;
                    font-size: 1em;
                    }
            
                .img {
                    width: 20px;
                    height: 20px;
                    }
                  
                .img2 {
                    Width: 50px;
                    height: 120px;
                    }
            
                    
                .container {
                    padding-bottom: 40px;
                    padding-top: 30px;
                    }
                     